:root {
    --battleship-board-width: 400px;
    --battleship-board-size: 8;
    --battleship-square-width: calc(var(--battleship-board-width) / var(--battleship-board-size));
}

.battleship_board_container {
    display: flex;
}

.battleship_board {
    width: var(--battleship-board-width);
    height: var(--battleship-board-width);
    margin: 1em;
    display: grid;
}

.battleship_board > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 100%;
    height: 100%;
}

.battleship_board > table {
    border-collapse: collapse;
}

.battleship_board > table tr td {
    border: 2px solid black;
    position: relative;
}

.battleship_board > table tr td img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.battleship_board > table tr td[data-content="."], .battleship_board > table tr td[data-content="i"] {
    background-image: url('./png/shot.png');
    background-size: cover;
}

.battleship_board > table tr td[data-content="x"] {
    background-color: var(--primary-hit-color-accent);
    border-color: var(--primary-hit-color);
}

.battleship_board > table tr td[data-content="+"] {
    background-color: var(--primary-ship-color-accent);
    border-color: var(--primary-ship-color);
}

.battleship_board > table tr td[data-content="-"] {
    background-color: var(--primary-sunk-color-accent);
    border-color: var(--primary-sunk-color);
}

.battleship_board > div {
    position: relative;
}

.battleship_board > div > div {
    position: absolute;
    left: calc(var(--ship-position-x) * var(--battleship-square-width));
    top: calc(var(--ship-position-y) * var(--battleship-square-width));
}

.shipyard {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.shipyard > div {
    display: flex;
    gap: 1em;
}

.ship {
    width: calc(var(--ship-width) * var(--battleship-square-width));
    height: calc(var(--ship-height) * var(--battleship-square-width));
    background-color: var(--primary-ship-color-accent);
    border: 2px solid var(--primary-ship-color);
    box-sizing: border-box;
}

.shipyard .ship[draggable="false"] {
    opacity: 0.3;
}