:root {
    --battleship-board-width: 500px;
    --battleship-board-size: 8;
    --battleship-square-width: calc(var(--battleship-board-width) / var(--battleship-board-size));
}

.battleship_board_container {
    display: flex;
}

.battleship_setup_board {
    width: var(--battleship-board-width);
    height: var(--battleship-board-width);
    background-image: url("./board_brown.svg");
    display: grid;
    position:
}

.battleship_setup_board > * {
    grid-area: 1 / 1 / 1 / 1;
}

.battleship_drop_target {
    position: relative;
}

.battleship_board {
    width: var(--battleship-board-width);
    height: var(--battleship-board-width);
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    margin: 1em;
}

.battleship_board > div {
    grid-column: attr(data-col);
    grid-row: attr(data-row);
    position: relative;
}

.shipOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.shipOverlay[data-content="."], .shipOverlay[data-content="i"] {
    background-image: url('./png/shot.png');
    background-size: cover;
    opacity: .8;
}

.shipOverlay[data-content="x"] {
    background-color: var(--primary-hit-color-accent);
    border: 2px solid black;
    box-sizing: border-box;
}

.shipOverlay[data-content="+"] {
    background-color: var(--primary-ship-color-accent);
    border: 2px solid black;
    box-sizing: border-box;
}

.shipOverlay[data-content="-"] {
    background-color: var(--primary-sunk-color-accent);
    border: 2px solid black;
    box-sizing: border-box;
}




.shipyard {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.shipyard > div {
    display: flex;
    gap: 1em;
}

.ship {
    width: calc(var(--ship-width) * var(--battleship-square-width));
    height: calc(var(--ship-height) * var(--battleship-square-width));
    background-color: var(--primary-ship-color-accent);
    border: 2px solid var(--primary-ship-color);
    box-sizing: border-box;
}

.ship[data-position="absolute"] {
    position: absolute;
    left: calc(var(--ship-position-x) * var(--battleship-square-width));   
    top: calc(var(--ship-position-y) * var(--battleship-square-width));   
}

.shipyard .ship[draggable="false"] {
    opacity: 0.3;
}