body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-image: url('./background-pattern.svg');
    background-repeat: repeat;
    background-size: 20em;
    background-position-x: 1em;
    background-position-y: 1em;
    z-index: -1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --primary-color: rgba(70, 70, 200);
    --primary-color-accent: rgba(150, 150, 228);
    --primary-ship-color: rgb(0, 0, 128);
    --primary-ship-color-accent: rgba(130, 130, 228);
    --primary-hit-color: rgb(128, 0, 0);
    --primary-hit-color-accent: rgba(228, 80, 80);
    --primary-sunk-color: rgb(128, 128, 128);
    --primary-sunk-color-accent: rgb(150, 150, 150);

    --last-move-color: rgba(155, 199, 0, 0.41);
    --selected-color: rgba(20,85,30,0.5);
    --in-check-color: rgba(255, 55, 55, 0.7);
}

.noscroll {
    overflow: hidden;
}